<div class="container-fluid" id="navContainer">
    <nav class="navbar fixed-top navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">Kodes</a>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/landing" role="button">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inbox</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container-fluid jumboContainer">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4"><strong></strong></h1>

    </div>
</div>

<div class="container-fluid col-2" id="sideBar">
    <div class="container-fluid links">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="html" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            HTML
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="htmlGeneral">General</a>
                            <a class="dropdown-item" href="#" id="htmlHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="htmlBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="htmlEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="css" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            CSS
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="cssGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cssHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cssBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cssEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="javascript" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            JAVASCRIPT
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="javascriptGeneral">General</a>
                            <a class="dropdown-item" href="#" id="javascriptHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="javascriptBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="javascriptEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="mysql" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            MYSQL
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="mysqlGeneral">General</a>
                            <a class="dropdown-item" href="#" id="mysqlHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="mysqlBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="mysqlEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="python" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            PYTHON
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="pythonGeneral">General</a>
                            <a class="dropdown-item" href="#" id="pythonHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="pythonBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="pythonEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="ruby" type="button" data-toggle="collapse"
                            data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                            RUBY
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="rubyGeneral">General</a>
                            <a class="dropdown-item" href="#" id="rubyHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="rubyBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="rubyEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="java" type="button" data-toggle="collapse"
                            data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                            JAVA
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="javaGeneral">General</a>
                            <a class="dropdown-item" href="#" id="javaHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="javaBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="javaEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="cx2" type="button" data-toggle="collapse"
                            data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                            C++
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="cppGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cppHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cppBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cppEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn btn-link" id="cSharp" type="button" data-toggle="collapse"
                            data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                            C#
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card-body">
                        <div>
                            <a class="dropdown-item" href="#" id="cSharpGeneral">General</a>
                            <a class="dropdown-item" href="#" id="cSharpHelp">Help!</a>
                            <a class="dropdown-item" href="#" id="cSharpBounties">Bounties</a>
                            <a class="dropdown-item" href="#" id="cSharpEvents">Events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end link container-->

<!--Begin Trending container-->
<div class="container-fluid trending">
    <div class="card card-heading">
        <a class="previousPage" href="#">Previous Page</a>
        <h1>Top Trending Posts</h1>
        <a class="nextPage" href="#">Next Page</a>
    </div>
    <br>
    <div class="row">
    <div class="col-md-12 post-container">
    
    <div id="post">
        <h2 class="postCol">{{title}}</h2>
        <hr>
        <p class="postCol">{{body}}</p><br>
        <hr>

        {{!-- <section>

            <div class="flash-comments">
                <div class="header">
                    <div><img src="/images/comments.png"></div>
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <!-- Form to create new comment -->
                    <div class="comment-form">
                        <div class="left-side">
                            <div class="row">
                                <input type="text" required placeholder="enter your name" id="new_comment_name">
                                <input placeholder="enter valid email" required type="email" id="new_comment_email">
                            </div>
                            <div class="row">
                                <textarea placeholder="enter comment text" required id="new_comment_text"
                                    rows="3"></textarea>
                            </div>
                        </div>
                        <div class="right-side">
                            <button type="submit" class="button-secondary pure-button">Send Comment</button>
                        </div>
                    </div>
                </form>
                <div class="comments-list" id="comments-list">
                    <!-- Live comments -->
                    <script id="comment-template" type="text/x-template">
                <div class="user-icon">
                    <img src="/images/user.png"/>
                </div>
                <div class="comment-info">
                    <div class="row">
                        <div class="name">part1</div>
                        <div class="email">part2</div>
                    </div>
                    <div class="row">
                        <div class="text">part3</div>
                    </div>
                </div>
            </script>
                </div>
            </div>
        </section> --}}
        <div id="disqus_thread"></div>
    </div>
    </div>
    </div>
</div>

<script type="text/javascript">
    console.log($("#post"))
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
     *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
     *  PLATFORM OR CMS.
     *  
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
     *  https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = PAGE_URL;  
        
        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = PAGE_IDENTIFIER; 
    };
    
    
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        // IMPORTANT: Replace EXAMPLE with your forum shortname!
        s.src = 'https://Scrypt.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
{{!-- <script src="/js/comPage.js"></script> --}}
{{!-- <script type="text/javascript" src="/js/pusher.js"></script> --}}