<div id="createUserPage">
    <div id="newUser">
<h1>Create a Profile!</h1>
    <hr>
    
     <div class="form-group">
                <label for="username-text">Username</label>
                <input type="text" id="username-text" class="form-control" aria-describedby="username-text" required>
              </div>
              <br>
              <div class="form-group">
                <label for="password-description">Password</label>
                <input type="text" class="form-control" id="password-text" aria-describedby="password-description" required>
              </div>
              <hr>
    <h3>General Info</h3> 
    <form class="needs-validation" validate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="Age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
         
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="State" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="Zip" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
        </div>
        <div class="form-group">
          
      </form>
      
          
    
    <hr>
    <h3>Languages You are Efficient in</h3>
    <br>
    
    <div class="row">
      <div class="col-md-2">
    
              <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="html" value="html">
      <label class="form-check-label" for="exampleRadios1">
        Html
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="css" value="css">
      <label class="form-check-label" for="exampleRadios2">
        CSS
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="node" value="node" >
      <label class="form-check-label" for="exampleRadios3">
        Node.js
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="python" value="python" >
      <label class="form-check-label" for="exampleRadios3">
        Python
      </label>
    </div>
    <br>
    </div>
    <div class="col-md-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="react" value="react" >
      <label class="form-check-label" for="exampleRadios3">
        React
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="javascript" value="javascript" >
      <label class="form-check-label" for="exampleRadios3">
        Javascript
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="sql" value="sql" >
      <label class="form-check-label" for="exampleRadios3">
        SQL
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="php" value="php" >
      <label class="form-check-label" for="exampleRadios3">
        PHP
      </label>
    </div>
    <br>
    </div>
    <div class="col-md-2">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="ruby" value="ruby" >
      <label class="form-check-label" for="exampleRadios3">
        Ruby
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="java" value="java" >
      <label class="form-check-label" for="exampleRadios3">
        Java
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="c" value="c" >
      <label class="form-check-label" for="exampleRadios3">
        C
      </label>
    </div>
    <br>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="cplus" value="cplus" >
      <label class="form-check-label" for="exampleRadios3">
        C++
      </label>
    </div>
    <br>
    </div>
    </div>
    <hr>
    <div class="form-group">
        <label for="experience-text">How Many Years Have You Been Coding?</label>
        <input type="text" id="experience" class="form-control" aria-describedby="experience-text" required>
      </div>
  
      <hr>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Is the form filled out correctly?
        </label>
        <div class="invalid-feedback">
          You must complete all required fields.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" id="create-profile">Create Profile</button>
            </form>
            </div>
            </div>
  

            <script>
                // JavaScript for disabling form submissions if there are invalid fields
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                </script>   
               

<!-- link to external javascript -->


                <script type="text/javascript" src="../public/js/add.js"></script>
                <!-- <script type="text/javascript" href="../public/js/index.js"></script> -->

