.list-group-item {
  line-height: 2.5;
}


#home {
  font-family: 'Merriweather', serif; 
}

#loginBtn {
  margin-left: 10px;
}

#indexJumbotron {
  text-align: center;
  margin-top: 9.5%;
  background-color: none;
  opacity: 1;
  color: white;
}

body {
  background-image: url("https://wallpaperplay.com/walls/full/5/a/8/156627.jpg#.XYmzy6eZHPc.link");
}

 


 /* h1 {
   color: blue;
   background-color: black;
   text-align: center;
   width: 240px;
   margin-left: 160px;
 } */

 .jumbotron {
   background : transparent;
   color : blue;
  
 }

 .form-control {
   /* width : 40%; */
 }

 #newprofile {
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(250, 242, 231, 0.829);
 }

 #username-text,
 #password-text {
   width: 40%;
 }

 #age,
 #experience-text {
   width : 60px;
 }

 #zip {
   width : 160px;
 }

